# Node environment
NODE_ENV=development

# Express host
HOST=127.0.0.1

# Express port
PORT=3000

# JWT secret string for signing tokens
JWT_SECRET_STRING=secret_string

### MongoDB settings ###
# MongoDB local port
MONGODB_LOCAL_PORT=27017

# MongoDB root username
MONGODB_ROOT_USERNAME=root

# MongoDB root password
MONGODB_ROOT_PASSWORD=root

# MongoDB host
MONGODB_HOST=localhost

# MongoDB auth source
MONGODB_AUTH_SOURCE=admin

# MongoDB database name
MONGODB_DATABASE=markup-tool

# MongoDB test database name
MONGODB_DATABASE_TEST=markup-tool_test
